<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

		<title>Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
  
	
		</head>
	<body>
		<style>
			

			.eaten {
				background-color: rgb(238, 218, 34);
				width: 50%;

			}
			.uneaten {
				background-color: rgb(189, 31, 31);
				width: 50%;
			}

			.burgerContainer {
				background-color: lightblue;
				display: flex;
			}

			.header {
				display: flex;
				color: rgb(23, 69, 112);
				justify-content: center;
			}

			.burgerForm {
				display: flex;
				justify-content: space-evenly;
				background-color: lightgrey;
				margin-top: 20px;
			}
		</style>
		{{{ body }}}
	</body>
</html>
